<article class="row" id="node-{{ node.id }}" {{ attributes }}>
  <div class="columns small-12">
    <div class="row created">
      <div class="columns small-12 posted">
        {% set cat = content.field_kategorie.0|render|render %}
        {% if 'Meldung' in cat %}
          {% set date = node.createdtime|format_date('datum_deutsch') %}
          {{ date }}
        {% endif %}
      </div>
    </div>
    <div class="view-mode-full row">
      <div class="columns small-12">
          {{ content|without('comment', 'links', 'field_tags') }}
      </div>
    </div>
  </div>
</article>

{#
/**
Name und Vorname dazu:

by {{ node.getOwner.field_vorname.value }} {{ node.getOwner.field_name.value }}

 */
#}