<article class="kommunalpolitik_view" id="node-{{ node.id }}" {{ attributes }}>
  <div class="row kommunalpolitik_view_header">
    <div class="columns small-12" data-equalizer>
        <div id="kp_view_vorgangsnummer" class="float-left" data-equalizer-watch>
          <h2>
            <a href="{{ content.field_vorgangslink }}">{{ label }}</a>
          </h2>
        </div>
        <div class="float-left" data-equalizer-watch>{{ content.field_vorgangsdatum }} | {{ content.field_kategorie }}</div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      {{ content.field_vorgangstext }}
    </div>
  </div>
</article>