<article class="row blog_content" id="node-{{ node.id }}" {{ attributes }}>
    {# <div class="row">
      <div class="columns small-12 posted" {{ author_attributes }}>
        {% set date = node.createdtime|format_date('datum_deutsch') %}
        {{ date }}
        {% trans %}Published by {{ node.getOwner.field_vorname.value }} {{ node.getOwner.field_name.value }} at {{ date }}{% endtrans %}
      </div>
    </div> #}
      <a href="{{ url }}">
        <div class="columns small-12">
            {{ content.field_absatz[0] }}
        </div>
      </a>
</article>