{% set field_name_class = field_name|clean_class %}
{%
  set classes = [
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div class="row column sidebar-block" id="sidebar-block-links">
  <div class="columns small-12 sidebar-block-title">
    <h2>Links</h2>
  </div>
  <div class="sidebar-block-inner columns small-12 field-items">
    <ul class="sidebar-block-list">
      {% for item in items %}
        <li>
          {{ item.content }}
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
