{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 * @see stable_preprocess_image_widget()
 */
#}

<span>
    {{ link }}
    <span id="file-link-meta">
     ({{ file_type }} {{ file_size }})
    </span>
</span>
