{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {% 
    set menu_classes = [ 
      'mobilemenu-0 vertical menu accordion-menu' ~ menu_name|clean_class, 
    ] 
  %}
  {% 
    set submenu_classes = [ 
      'mobilemenu-sub vertical nested', 
      'c-menu-' ~ menu_name|clean_class ~ '__submenu', 
    ] 
  %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul {{ attributes.addClass(menu_classes) }} data-accordion-menu data-submenu-toggle="true">
    {% else %}
      <ul{{ attributes.removeClass(menu_classes).addClass(submenu_classes) }}>
    {% endif %}
    {% for item in items %}
      {% 
        set item_classes = [ 
          'c-menu-' ~ menu_name|clean_class ~ '__item', 
          item.is_expanded ? 'c-menu-' ~ menu_name|clean_class ~ '__item--expanded', 
          item.is_collapsed ? 'c-menu-' ~ menu_name|clean_class ~ '__item--collapsed', 
          item.in_active_trail ? 'c-menu-' ~ menu_name|clean_class ~ '__item--active-trail', 
        ] 
      %}
      {%
        set link_classes = [ 
          'c-menu-' ~ menu_name|clean_class ~ '__link', 
        ]
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {# In link function add link class and remove leaking item classes #}
        {{ link( item.title, item.url, item.attributes.addClass(link_classes).removeClass(item_classes) ) }}
          
          {% if item.below %}
            {# Pass menu_name as an argument to the macro #}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }}
          {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
