{% set image_uri = content.field_bild_in_bild['#items']|file_uri %}
{% set image_url = file_url(image_uri) %}

<div class="row paragraph_image">
  <div class="columns small-12">
    <figure>
      {% if content.field_vergroesserung|render|striptags|trim|lower == '1' %}
        <img class="image_preview" data-toggle="{{ image_uri|replace({"public://": "", "/": "", ".": "", "_": "", "-": ""})|raw }}" src="{{ image_uri|image_style('4_3') }}" alt="test_alt">
        <div class="large reveal" id="{{ image_uri|replace({"public://": "", "/": "", ".": "", "_": "", "-": ""})|raw }}" data-reveal data-close-on-click="true" data-animation-in="fade-in fast" data-animation-out="fade-out fast">
          <img src="{{ image_uri|image_style('vollbild_fullhd') }}" alt="">
          <button class="close-button" data-close aria-label="schliessen" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% else %}
        <img src="{{ image_uri|image_style('4_3') }}" alt="test_alt">
      {% endif %}
        </div>
      </div>
      <div class="row paragraph_image_caption">
        <div class="columns small-12">
      {{ content.field_caption }}
        </div>
      </div>
      <div class="row paragraph_image_copyright">
        <div class="columns small-12">
      {% if content.field_copyright|render|trim|length > 0 %}
        <span>&copy;: </span><span>{{ content.field_copyright }}</span>
      {% endif %}
    </figure>
  </div>
</div>