{% set image = content.field_bild_in_absatz %}
{% set parentNode = paragraph.parentEntity %}
<div class="row paragraph">
    <div class="columns small-12">
        <div class="row">
            {% if content.field_bild_in_absatz|render|trim|length > 0 %}
                <div class="columns small-12 show-for-small-only blog-image-top">
                    {{ image }}
                </div>
            {% endif %}
            {% if content.field_bild_in_absatz|render|trim|length > 0 %}
                <div class="columns small-12 medium-7 large-8">
                    <h2>{{ parentNode.label }}</h2>
                    {% set date = parentNode.createdtime|format_date('datum_deutsch') %}
                    <div class="content_date">{{ date }}</div>
                    {{ content.field_text }}
                </div>
            {% endif %}
            {% if content.field_bild_in_absatz|render|trim|length < 1 %}
                <div class="columns small-12">
                    <h2>{{ parentNode.label }}</h2>
                    {% set date = parentNode.createdtime|format_date('datum_deutsch') %}
                    <div class="content_date">{{ date }}</div>
                    {{ content.field_text }}
                </div>
            {% endif %}
            {% if content.field_bild_in_absatz|render|trim|length > 0 %}
                <div class="columns small-12 medium-5 large-4 hide-for-small-only">
                    {{ image }}
                </div>
            {% endif %}
        </div>
    </div>
</div>