<div class="row">
  <div class="columns small-12">
    {{ content.field_bild_in_bild }}
  </div>
  {# <div class="columns small-12 paragraph_image_caption">
    {{ content.field_bildbeschreibung }}
  </div>
  <div class="columns small-12 paragraph_image_copyright">
    &copy; {{ content.field_copyright }}
  </div> #}
</div>