<div class="row paragraph">
    <div class="columns small-12">
        <div class="row">
            <div class="columns small-12">
                <h3>{{ content.field_absatztitel }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                {{ content.field_text}}
            </div>
        </div>
    </div>
</div>