<div class="row paragraph">
    {% if content.field_bild_in_absatz|render|trim|length > 0 %}
        <div class="columns small-12 medium-8">
            {% if content.field_absatztitel|render|trim|length > 0 %}
                <h2 class="paragraph_title">
                    {{ content.field_absatztitel }}
                </h2>
            {% endif %}
            {{ content.field_text }}
        </div>
    {% endif %}
    {% if content.field_bild_in_absatz|render|trim|length < 1 %}
        <div class="columns small-12">
            {% if content.field_absatztitel|render|trim|length > 0 %}
                <h2 class="paragraph_title">
                    {{ content.field_absatztitel }}
                </h2>
            {% endif %}
            {{ content.field_text }}
        </div>
    {% endif %}
    {% if content.field_bild_in_absatz|render|trim|length > 0 %}
        <div class="columns small-12 medium-4">
            {{ content.field_bild_in_absatz }}
        </div>
    {% endif %}
</div>