{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="row">
	<div class="columns small-12">
		<div id="search-api-input" class="float-left">
			{{ form.suche }}
		</div>
		<div class="float-left">
			{{ form.actions }}
		</div>
	</div>
</div>
{{ form|without('suche', 'actions', 'sort_by', 'sort_order') }}