<div{{ attributes|replace({'class="': 'class="row column sidebar-block '})|raw }}>
	<div class="columns small-12 sidebar-block-title">
	    <h2{{ title_attributes }}>{{ label }}</h2>
	</div>
	<div class="sidebar-block-inner columns small-12">
		{% block content %}
		{{ content }}
		{% endblock %}
		<div class="row">
			<div class="columns small-12">
				<a href="https://touren-termine.adfc.de/suche?unitKey=142002" target="_blank" alt"Tourentermine des ADFC Dresden">weitere Termine...</a>
			</div>
		</div>
	</div>
</div>