<div{{ attributes|replace({'class="': 'class="row column sidebar-block '})|raw }}>
  <div id="termine-block-title" class="columns small-12 sidebar-block-title">
        <h2{{ title_attributes }}>{{ label }}</h2>
  </div>
  <div id="gettingmember-block-inner" class="sidebar-block-inner columns small-12">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
</div>
