<div id="offCanvasRight1" class="off-canvas position-right" data-transition="overlap" data-off-canvas>
  <div class="row">
    <div class="columns small-12">
      <button id="mobilemenu-close" class="float-right" aria-label="Close menu" type="button" data-close>
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <div class="row"><div class="columns small-12">{{ page.right_off_canvas }}</div></div>
</div>

<div class="off-canvas-content" data-off-canvas-content>
  <div id="metaheader">
    <div class="row">
      <div class="columns small-12 large-6 display-inline-block" id="slogan">
        {{ page.metaheader }}
      </div>
      <div id="metaheader-search" class="columns show-for-large large-6">
        <div class="row align-right">
          <div class="columns small-12">
            {{ page.search }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="metaheader-stick"></div>
  
  <div data-sticky-container>
    <div id="header" class="sticky" data-check-every="0" data-sticky-on="small" data-sticky data-margin-top='0' data-top-anchor="metaheader-stick:bottom" data-btm-anchor="content:bottom">
      <div class="row" data-equalizer>{{ page.header }}</div>
    </div>
  </div>
  
  <div id="headerimage">
    {{ page.header_image }}
  </div>
  
  <div id="header-stick"></div>
  
  {% set submenu = drupal_entity('block', 'mainnavigation_2', check_access=false)|render %}
  {% if submenu %}
    <div data-sticky-container>
      <div class="sticky show-for-xlarge" data-check-every="0" data-sticky data-sticky-on="small" data-margin-top='3.55' data-top-anchor="header-stick:bottom" data-btm-anchor="content:bottom">
        <div id="submenu">
          <div class="row">
            <div class="columns small-12">
              {{ page.submenu}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div data-sticky-container>
    <div id="supporter-container" class="sticky" data-check-every="0" data-sticky data-sticky-on="small" data-margin-top='3.55' data-top-anchor="header-stick:bottom" data-btm-anchor="content:bottom">
      <div class="row">
        <div class="columns small-12">
          <a href="/sei-dabei" title="ADFC unterstützen!" class="button-primary button-primary--supporter float-right">
            <i class="fa fa-bicycle button-primary__icon"></i>ADFC unterstützen!
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <main id="content">
    <a id="main-content"></a>
    {% if breadcrumb %} {{ breadcrumb }} {% endif %}
    <div class="row">
      <div class="columns large-9 medium-12">
        {{ page.content }}
      </div>
      <div id="sidebar" class="columns large-3 medium-12">
        {{ page.exposed_large }}
        {{ node.field_seite_links|view }}
        {{ node.field_seite_downloads|view }}
        {{ page.sidebar }}
      </div>
    </div>
  </main>
  
  <div id="footer1">
    <div class="row footer">
      <div class="columns small-12">
        {{ page.footer_1 }}
      </div>
    </div>
  </div>
  <div id="footer2">
    <div class="row footer">
      <div class="columns small-12">
        {{ page.footer_2 }}
      </div>
    </div>
  </div>
  <div id="footer3">
    <div class="row footer">
      <div class="columns small-12">
        {{ page.footer_3 }}
      </div>
    </div>
  </div>
</div>