<div id="logo" class="columns large-2 small-6 float-left">
	<a class="display-inline-block" href="{{ path }}/start">
		<img src="{{ path }}/{{ active_theme_path() }}/img/logo_allgemeiner_deutscher_fahrrad-club.png" alt="ADFC Dresden - Logo">
	</a>
</div>
<div id="mainmenu-0" class="columns large-10 small-6">
	<div class="show-for-xlarge">{{ drupal_entity('block', 'mainnavigation') }}</div>
	{# <button data-toggle="offCanvasRight1" id="mobilemenutoggle" class="fa-duotone fa-bars hide-for-xlarge float-right"></button> #}
	<i data-toggle="offCanvasRight1" id="mobilemenutoggle" class="fa-solid hide-for-xlarge float-right"></i>
</div>