@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:100;
    src:url('../webfonts/roboto-v20-latin-100.eot');
    src:local("Roboto Thin"),local("Roboto-Thin"),url('../webfonts/roboto-v20-latin-100.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v20-latin-100.woff2') format("woff2"),url('../webfonts/roboto-v20-latin-100.woff') format("woff"),url('../webfonts/roboto-v20-latin-100.ttf') format("truetype"),url('../webfonts/roboto-v20-latin-100.svg#Roboto') format("svg")
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:100;
    src:url('../webfonts/roboto-v20-latin-100italic.eot');
    src:local("Roboto Thin Italic"),local("Roboto-ThinItalic"),url('../webfonts/roboto-v20-latin-100italic.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v20-latin-100italic.woff2') format("woff2"),url('../webfonts/roboto-v20-latin-100italic.woff') format("woff"),url('../webfonts/roboto-v20-latin-100italic.ttf') format("truetype"),url('../webfonts/roboto-v20-latin-100italic.svg#Roboto') format("svg")
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:300;
    src:url('../webfonts/roboto-v18-latin-300.eot');
    src:local("Roboto Light"),local("Roboto-Light"),url('../webfonts/roboto-v18-latin-300.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-300.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-300.woff') format("woff"),url('../webfonts/roboto-v18-latin-300.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-300.svg#Roboto') format("svg")
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:300;
    src:url('../webfonts/roboto-v18-latin-300italic.eot');
    src:local("Roboto Light Italic"),local("Roboto-LightItalic"),url('../webfonts/roboto-v18-latin-300italic.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-300italic.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-300italic.woff') format("woff"),url('../webfonts/roboto-v18-latin-300italic.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-300italic.svg#Roboto') format("svg")
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    src:url('../webfonts/roboto-v18-latin-regular.eot');
    src:local("Roboto"),local("Roboto-Regular"),url('../webfonts/roboto-v18-latin-regular.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-regular.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-regular.woff') format("woff"),url('../webfonts/roboto-v18-latin-regular.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-regular.svg#Roboto') format("svg")
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:400;
    src:url('../webfonts/roboto-v18-latin-italic.eot');
    src:local("Roboto Italic"),local("Roboto-Italic"),url('../webfonts/roboto-v18-latin-italic.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-italic.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-italic.woff') format("woff"),url('../webfonts/roboto-v18-latin-italic.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-italic.svg#Roboto') format("svg")
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:500;
    src:url('../webfonts/roboto-v18-latin-500.eot');
    src:local("Roboto Medium"),local("Roboto-Medium"),url('../webfonts/roboto-v18-latin-500.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-500.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-500.woff') format("woff"),url('../webfonts/roboto-v18-latin-500.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-500.svg#Roboto') format("svg")
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:500;
    src:url('../webfonts/roboto-v18-latin-500italic.eot');
    src:local("Roboto Medium Italic"),local("Roboto-MediumItalic"),url('../webfonts/roboto-v18-latin-500italic.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-500italic.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-500italic.woff') format("woff"),url('../webfonts/roboto-v18-latin-500italic.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-500italic.svg#Roboto') format("svg")
}

body, p, input, a, h1, h2, h3 {
  -webkit-font-smoothing: auto !important;
}

body {
  font-family: "Roboto";
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto" !important;
}

h1 {
  font-size: 1.75rem !important;
  font-weight: 300;
  margin: 1rem 0 0 0 !important;
}



h2 a {
  color: #0a0a0a !important;
}

h2, h3 {
  font-size: 1rem;
  font-weight: 500;
}

@media print, screen and (min-width:90em) {
  .xlarge-1 {
    width: 8.33333%;
  }

  .xlarge-push-1 {
    position: relative;
    left: 8.33333%;
  }

  .xlarge-pull-1 {
    position: relative;
    left: -8.33333%;
  }

  .xlarge-offset-0 {
    margin-left: 0%;
  }

  .xlarge-2 {
    width: 16.66667%;
  }

  .xlarge-push-2 {
    position: relative;
    left: 16.66667%;
  }

  .xlarge-pull-2 {
    position: relative;
    left: -16.66667%;
  }

  .xlarge-offset-1 {
    margin-left: 8.33333%;
  }

  .xlarge-3 {
    width: 25%;
  }

  .xlarge-push-3 {
    position: relative;
    left: 25%;
  }

  .xlarge-pull-3 {
    position: relative;
    left: -25%;
  }

  .xlarge-offset-2 {
    margin-left: 16.66667%;
  }

  .xlarge-4 {
    width: 33.33333%;
  }

  .xlarge-push-4 {
    position: relative;
    left: 33.33333%;
  }

  .xlarge-pull-4 {
    position: relative;
    left: -33.33333%;
  }

  .xlarge-offset-3 {
    margin-left: 25%;
  }

  .xlarge-5 {
    width: 41.66667%;
  }

  .xlarge-push-5 {
    position: relative;
    left: 41.66667%;
  }

  .xlarge-pull-5 {
    position: relative;
    left: -41.66667%;
  }

  .xlarge-offset-4 {
    margin-left: 33.33333%;
  }

  .xlarge-6 {
    width: 50%;
  }

  .xlarge-push-6 {
    position: relative;
    left: 50%;
  }

  .xlarge-pull-6 {
    position: relative;
    left: -50%;
  }

  .xlarge-offset-5 {
    margin-left: 41.66667%;
  }

  .xlarge-7 {
    width: 58.33333%;
  }

  .xlarge-push-7 {
    position: relative;
    left: 58.33333%;
  }

  .xlarge-pull-7 {
    position: relative;
    left: -58.33333%;
  }

  .xlarge-offset-6 {
    margin-left: 50%;
  }

  .xlarge-8 {
    width: 66.66667%;
  }

  .xlarge-push-8 {
    position: relative;
    left: 66.66667%;
  }

  .xlarge-pull-8 {
    position: relative;
    left: -66.66667%;
  }

  .xlarge-offset-7 {
    margin-left: 58.33333%;
  }

  .xlarge-9 {
    width: 75%;
  }

  .xlarge-push-9 {
    position: relative;
    left: 75%;
  }

  .xlarge-pull-9 {
    position: relative;
    left: -75%;
  }

  .xlarge-offset-8 {
    margin-left: 66.66667%;
  }

  .xlarge-10 {
    width: 83.33333%;
  }

  .xlarge-push-10 {
    position: relative;
    left: 83.33333%;
  }

  .xlarge-pull-10 {
    position: relative;
    left: -83.33333%;
  }

  .xlarge-offset-9 {
    margin-left: 75%;
  }

  .xlarge-11 {
    width: 91.66667%;
  }

  .xlarge-push-11 {
    position: relative;
    left: 91.66667%;
  }

  .xlarge-pull-11 {
    position: relative;
    left: -91.66667%;
  }

  .xlarge-offset-10 {
    margin-left: 83.33333%;
  }

  .xlarge-12 {
    width: 100%;
  }

  .xlarge-offset-11 {
    margin-left: 91.66667%;
  }

  .xlarge-up-1 > .column, .xlarge-up-1 > .columns {
    float: left;
    width: 100%;
  }

  .xlarge-up-1 > .column:nth-of-type(1n), .xlarge-up-1 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-1 > .column:nth-of-type(1n+1), .xlarge-up-1 > .columns:nth-of-type(1n+1) {
    clear: both;
  }

  .xlarge-up-1 > .column:last-child, .xlarge-up-1 > .columns:last-child {
    float: left;
  }

  .xlarge-up-2 > .column, .xlarge-up-2 > .columns {
    float: left;
    width: 50%;
  }

  .xlarge-up-2 > .column:nth-of-type(1n), .xlarge-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-2 > .column:nth-of-type(2n+1), .xlarge-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }

  .xlarge-up-2 > .column:last-child, .xlarge-up-2 > .columns:last-child {
    float: left;
  }

  .xlarge-up-3 > .column, .xlarge-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }

  .xlarge-up-3 > .column:nth-of-type(1n), .xlarge-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-3 > .column:nth-of-type(3n+1), .xlarge-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }

  .xlarge-up-3 > .column:last-child, .xlarge-up-3 > .columns:last-child {
    float: left;
  }

  .xlarge-up-4 > .column, .xlarge-up-4 > .columns {
    float: left;
    width: 25%;
  }

  .xlarge-up-4 > .column:nth-of-type(1n), .xlarge-up-4 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-4 > .column:nth-of-type(4n+1), .xlarge-up-4 > .columns:nth-of-type(4n+1) {
    clear: both;
  }

  .xlarge-up-4 > .column:last-child, .xlarge-up-4 > .columns:last-child {
    float: left;
  }

  .xlarge-up-5 > .column, .xlarge-up-5 > .columns {
    float: left;
    width: 20%;
  }

  .xlarge-up-5 > .column:nth-of-type(1n), .xlarge-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-5 > .column:nth-of-type(5n+1), .xlarge-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }

  .xlarge-up-5 > .column:last-child, .xlarge-up-5 > .columns:last-child {
    float: left;
  }

  .xlarge-up-6 > .column, .xlarge-up-6 > .columns {
    float: left;
    width: 16.66667%;
  }

  .xlarge-up-6 > .column:nth-of-type(1n), .xlarge-up-6 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-6 > .column:nth-of-type(6n+1), .xlarge-up-6 > .columns:nth-of-type(6n+1) {
    clear: both;
  }

  .xlarge-up-6 > .column:last-child, .xlarge-up-6 > .columns:last-child {
    float: left;
  }

  .xlarge-up-7 > .column, .xlarge-up-7 > .columns {
    float: left;
    width: 14.28571%;
  }

  .xlarge-up-7 > .column:nth-of-type(1n), .xlarge-up-7 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-7 > .column:nth-of-type(7n+1), .xlarge-up-7 > .columns:nth-of-type(7n+1) {
    clear: both;
  }

  .xlarge-up-7 > .column:last-child, .xlarge-up-7 > .columns:last-child {
    float: left;
  }

  .xlarge-up-8 > .column, .xlarge-up-8 > .columns {
    float: left;
    width: 12.5%;
  }

  .xlarge-up-8 > .column:nth-of-type(1n), .xlarge-up-8 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-8 > .column:nth-of-type(8n+1), .xlarge-up-8 > .columns:nth-of-type(8n+1) {
    clear: both;
  }

  .xlarge-up-8 > .column:last-child, .xlarge-up-8 > .columns:last-child {
    float: left;
  }

  .xlarge-collapse > .column, .xlarge-collapse > .columns {
    padding-right: 0;
    padding-left: 0;
  }

  .xlarge-collapse .row {
    margin-right: 0;
    margin-left: 0;
  }

  .expanded.row .xlarge-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }

  .xlarge-uncollapse > .column, .xlarge-uncollapse > .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .xlarge-centered {
    margin-right: auto;
    margin-left: auto;
  }

  .xlarge-centered, .xlarge-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }

  .xlarge-uncentered, .xlarge-push-0, .xlarge-pull-0 {
    position: static;
    margin-right: 0;
    margin-left: 0;
  }

  .xlarge-uncentered, .xlarge-uncentered:last-child:not(:first-child), .xlarge-push-0, .xlarge-push-0:last-child:not(:first-child), .xlarge-pull-0, .xlarge-pull-0:last-child:not(:first-child) {
    float: left;
    clear: none;
  }

  .xlarge-uncentered:last-child:not(:first-child), .xlarge-push-0:last-child:not(:first-child), .xlarge-pull-0:last-child:not(:first-child) {
    float: right;
  }

}

@media print, screen and (min-width:90em) {
  .hide-for-xlarge {
    display: none !important;
  }

}

@media screen and (max-width:89.938em) {
  .show-for-xlarge {
    display: none !important;
  }

}

.row {
  max-width: 90rem !important;
}

#metaheader {
  background-color: #ee7f00;
  color: white;
  font-weight: 400;
  letter-spacing: .05rem;
}

#mainmenu-0 {
  padding-right: 0 !important;
}

#header, #logo, #mainmenu-0 {
  background-color: white;
}

#logo a {
  margin-left: 1rem;
}

.is-anchored #logo img {
  max-height: 80px;
  transition: all .25s linear;
}

.is-stuck #logo img {
  max-height: 40px;
  transition: all .25s linear;
}

.is-anchored #mainmenu-0 ul {
  line-height: 5rem;
}

.is-stuck #mainmenu-0 ul {
  line-height: 2.55rem;
}

#mainmenu-0 a {
  color: black;
  font-family: "Roboto";
  font-weight: 400;
}

#mainmenu-0 a i {
  padding-top: 10px;
}

#mainmenu-0 .menu-item--active-trail a {
  color: #ee7f00;
}

#submenu {
  background-color: #ee7f00;
  border-top: 3px solid #ee7f00;
}

#submenu a {
  color: white;
  line-height: 1.1rem;
}

#submenu a.is-active {
  color: lightgray;
}

#submenu li:first-child a {
  padding-left: 0 !important;
}

#supporter-container {
  border-top: 3px solid #ee7f00;
  padding-bottom: .25rem;
}

#supporter-container > .row > .columns {
  padding-right: 0;
}

#supporter-container {
  background-color: #f2f2f2;
}

.button-primary__icon {
  -webkit-text-size-adjust: 100%;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #004b7c;
  display: inline-block;
  margin-right: .5rem;
}

#supporter-container a {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: auto !important;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  font-family: roboto, arial, sans-serif !important;
  white-space: nowrap;
  background-color: #ee7f00!important;
  font-size: 16px;
  font-style: italic;
  padding: .5rem 1rem;
  font-weight: 400;
  color: #fff;
  height: 40px;
  position: relative;
  margin-right: 40px;
}

.button-primary--supporter:before {
  background-color: transparent;
  bottom: 0;
  content: url(../img/support_flag.svg);
  display: inline-block;
  height: 40px;
  width: 40px;
  position: absolute;
  top 0;
  left: -40px;
  transform: scaleX(-1);
}

.button-primary--supporter:after {
  background-color: transparent;
  bottom: 0;
  content: url(../img/support_flag.svg);
  display: inline-block;
  height: 40px;
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
}
#content, #supporter-container {
  background-color: #f2f2f2;
}

#sidebar {
  padding: 2rem 0 1rem 1rem;
}

.sidebar-block-title, .sidebar-block-inner {
  background-color: #004b7c;
}

.sidebar-block-title h2 {
  color: #fff;
  font-weight: 300;
  font-size: 1.375rem;
  padding: 1rem 0 1rem 0 !important;
  margin-bottom: 0 !important;
}

#block-views-block-termine-block-1 a, #sidebar-block-downloads a, #sidebar-block-links a, #file-link-meta {
  color: white;
}

#file-link-meta {
  font-size: .8rem;
}

#block-views-block-termine-block-1 a:hover, .sidebar-block a:hover {
  color: grey;
}

#gettingmember-block-inner a {
  color: #fff;
  background-color: #ee7f00;
  padding: .5rem 1rem;
}

.sidebar-block {
  margin-bottom: 1rem;
}

#gettingmember-block-inner li, #sidebar-block-links li, #sidebar-block-downloads li {
  list-style-type: none !important;
  position: relative;
}

#gettingmember-block-inner ul {
  margin-left: 0 !important;
}

#gettingmember-block-inner li {
  padding-left: 1rem;
}

#gettingmember-block-inner li:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: .8rem;
  color: #ee7f00;
  position: absolute;
  left: 0;
  top: .2rem;
}

#sidebar-block-links ul.sidebar-block-list, #sidebar-block-downloads ul.sidebar-block-list {
  margin-left: 0;
}

#gettingmember-block-inner {
  background-color: white;
  padding: 1rem 0 0 0;
}

#toggle-icon {
  width: auto;
  font-size: 1.5rem;
}

body.mm-wrapper_opening .fa-bars {
  display: none !important;
  transition: all .25s linear;
}

.fa-times {
  display: none !important;
  transition: all 1s linear;
}

body.mm-wrapper_opening .fa-times {
  display: inline-block !important;
  transition: all 1s linear;
}

#footer1 {
  background-color: #dedede;
}

#footer1-menu {
  text-align: center;
}

#footer1-menu a {
  color: black;
}

#footer2 {
  background-color: #8c8c8c;
}

#footer3 {
  background-color: #737373;
}

.footer {
  padding: 2rem 0;
}

.footer h2 {
  font-size: 1.2rem;
  color: white;
}

#footer2 li:first-child a {
  padding-left: 0;
}

.footer .fab {
  color: white;
  font-size: 3rem;
}

#footer3 a {
  color: white;
}

#block-adfcdd-bleibensieinkontakt ul, #block-adfcdd-pflichtlinks ul {
  list-style-type: none;
}

.view-content-row {
  padding: 1.25rem 1.25rem 1.25rem 0;
  border-bottom: 2px dotted lightgray;
}

.view-content-row:last-child {
  border-bottom: none;
}

.posted {
  font-size: .8rem;
  padding-bottom: .5rem;
}

.subtitle {
  font-size: 1.3rem;
  font-family: "Roboto-light";
}

.paragraph {
  padding: .5rem 0;
}

.paragraph:first-child {
  padding-top: 0;
}

.paragraph:last-child {
  padding-bottom: 0;
}

#mm-1, .mm-navbar {
  background-color: #ee7f00;
}

#mm-1 a {
  color: white;
}

.speiche-liste .columns:last-child:not(:first-child) {
  float: left;
}

.speiche-liste {
  margin: 0 0 2rem 0;
}

#block-system-menu-blockjahre-in-aktuelles {
  border-top: 1px dotted grey;
}

.js-form-type-search input.form-search {
  background: rgba(255, 255, 255);
  color: grey;
}

#search-block-form .icon {
  padding-left: 1.2rem;
}

#events-grouping-day {
  color: #fff;
  font-weight: 500;
  padding-bottom: .3rem;
}

.event-row {
  color: #fff;
  margin-bottom: .5rem;
}

#edit-submit-schriftwechsel2 {
  margin-top: 1.8em;
}

#metaheader-search #search-block-form .form-submit {
  background-color: #dedede;
  color: #737373;
  border: 0;
}

#metaheader-search .search-block-input {
  background: none !important;
  border: none !important;
  border-bottom: 1px solid #fa9e70 !important;
  font-size: .9rem !important;
  color: #fff !important;
  box-shadow: none !important;
  padding: 0 0.5rem !important;
  margin: 0 !important;
}

#metaheader-search .search-block-input::placeholder {
  color: #fff;
}

#metaheader-search .search-block-submit {
  background: none !important;
  border: none;
  color: #fff !important;
  margin: 0 !important;
}

.input-group {
  margin-bottom: 0 !important;
}

.search-block-submit {
  height: auto !important;
}

.facets-reset span {
  font-weight: bold;
}

.search-result {
  margin-bottom: 1rem;
  border-bottom: 1px dotted grey;
  padding-bottom: 1rem;
}

.exposed-filter-row {
  margin-bottom: 2rem;
}

.result-highlight {
  color: #ee7f00;
  font-family: "Roboto-bold";
}

.search-summary {
  margin-bottom: 1.5rem;
  color: grey;
}

.search-summary header {
  border-bottom: 1px solid black;
  padding: 0 0 1rem 0;
  font-size: .8rem;
}

.search-result-type {
  font-family: "Roboto-italic";
}

#block-inhalt label {
  text-transform: capitalize;
}

.facet-item {
  list-style: none;
}

.created {
  margin-bottom: 1.25rem !important;
  padding: 0 !important;
}

#edit-suche {
  margin-top: 1px;
}

.paragraph_image_caption, .paragraph_image_copyright {
  font-size: .7rem;
  color: #737373;
  padding: 0 .2rem;
}

.paragraph_image_caption {
  margin-top: .2rem;
}

.multiple_value_comma:last-child {
  display: none;
}

.close-button {
  padding: .5rem;
}

.close-button span {
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.reveal.large {
  max-width: 90% !important;
}

.link_unvisible, .link_unvisible:hover, .link_unvisible:visited {
  text-decoration: none;
  color: #0a0a0a;
}

.kommunalpolitik_view {
  padding-bottom: 1.5rem;
}

.kommunalpolitik_view_header {
  font-size: .8rem;
  line-height: 28px;
}

.kommunalpolitik_view h2 {
  margin-bottom: 0;
}

.kommunalpolitik_view h2 a {
  color: #ee7f00 !important;
  font-size: 1.1rem;
}

#kp_view_vorgangsnummer {
  padding: 0 1rem .25rem 0;
}

.blog-artikel {
  border-bottom: 1px solid #C8C8C8;
  padding: 1rem 0;
}

.blog-artikel:last-child {
  border-bottom: none;
}

.views-row:first-child .blog-content {
  padding-top: 0;
}

.blog_content a, .blog_content a:visited {
  color: black;
}

.blog_content a:hover {
  color: grey;
}

.blog_content h2 {
  margin-bottom: .2rem;
}

.content_date {
  margin-bottom: .7rem;
}

.image_preview:hover {
  cursor: pointer;
}

.extlink {
  margin-left: .3rem;
  font-size: .8rem;
}

.field-paragraph--field-caption p {
  margin-bottom: 0 !important;
}

@media print, screen and (min-width:90em) {
  .xlarge-1 {
    width: 8.33333%;
  }

  .xlarge-push-1 {
    position: relative;
    left: 8.33333%;
  }

  .xlarge-pull-1 {
    position: relative;
    left: -8.33333%;
  }

  .xlarge-offset-0 {
    margin-left: 0%;
  }

  .xlarge-2 {
    width: 16.66667%;
  }

  .xlarge-push-2 {
    position: relative;
    left: 16.66667%;
  }

  .xlarge-pull-2 {
    position: relative;
    left: -16.66667%;
  }

  .xlarge-offset-1 {
    margin-left: 8.33333%;
  }

  .xlarge-3 {
    width: 25%;
  }

  .xlarge-push-3 {
    position: relative;
    left: 25%;
  }

  .xlarge-pull-3 {
    position: relative;
    left: -25%;
  }

  .xlarge-offset-2 {
    margin-left: 16.66667%;
  }

  .xlarge-4 {
    width: 33.33333%;
  }

  .xlarge-push-4 {
    position: relative;
    left: 33.33333%;
  }

  .xlarge-pull-4 {
    position: relative;
    left: -33.33333%;
  }

  .xlarge-offset-3 {
    margin-left: 25%;
  }

  .xlarge-5 {
    width: 41.66667%;
  }

  .xlarge-push-5 {
    position: relative;
    left: 41.66667%;
  }

  .xlarge-pull-5 {
    position: relative;
    left: -41.66667%;
  }

  .xlarge-offset-4 {
    margin-left: 33.33333%;
  }

  .xlarge-6 {
    width: 50%;
  }

  .xlarge-push-6 {
    position: relative;
    left: 50%;
  }

  .xlarge-pull-6 {
    position: relative;
    left: -50%;
  }

  .xlarge-offset-5 {
    margin-left: 41.66667%;
  }

  .xlarge-7 {
    width: 58.33333%;
  }

  .xlarge-push-7 {
    position: relative;
    left: 58.33333%;
  }

  .xlarge-pull-7 {
    position: relative;
    left: -58.33333%;
  }

  .xlarge-offset-6 {
    margin-left: 50%;
  }

  .xlarge-8 {
    width: 66.66667%;
  }

  .xlarge-push-8 {
    position: relative;
    left: 66.66667%;
  }

  .xlarge-pull-8 {
    position: relative;
    left: -66.66667%;
  }

  .xlarge-offset-7 {
    margin-left: 58.33333%;
  }

  .xlarge-9 {
    width: 75%;
  }

  .xlarge-push-9 {
    position: relative;
    left: 75%;
  }

  .xlarge-pull-9 {
    position: relative;
    left: -75%;
  }

  .xlarge-offset-8 {
    margin-left: 66.66667%;
  }

  .xlarge-10 {
    width: 83.33333%;
  }

  .xlarge-push-10 {
    position: relative;
    left: 83.33333%;
  }

  .xlarge-pull-10 {
    position: relative;
    left: -83.33333%;
  }

  .xlarge-offset-9 {
    margin-left: 75%;
  }

  .xlarge-11 {
    width: 91.66667%;
  }

  .xlarge-push-11 {
    position: relative;
    left: 91.66667%;
  }

  .xlarge-pull-11 {
    position: relative;
    left: -91.66667%;
  }

  .xlarge-offset-10 {
    margin-left: 83.33333%;
  }

  .xlarge-12 {
    width: 100%;
  }

  .xlarge-offset-11 {
    margin-left: 91.66667%;
  }

  .xlarge-up-1 > .column, .xlarge-up-1 > .columns {
    float: left;
    width: 100%;
  }

  .xlarge-up-1 > .column:nth-of-type(1n), .xlarge-up-1 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-1 > .column:nth-of-type(1n+1), .xlarge-up-1 > .columns:nth-of-type(1n+1) {
    clear: both;
  }

  .xlarge-up-1 > .column:last-child, .xlarge-up-1 > .columns:last-child {
    float: left;
  }

  .xlarge-up-2 > .column, .xlarge-up-2 > .columns {
    float: left;
    width: 50%;
  }

  .xlarge-up-2 > .column:nth-of-type(1n), .xlarge-up-2 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-2 > .column:nth-of-type(2n+1), .xlarge-up-2 > .columns:nth-of-type(2n+1) {
    clear: both;
  }

  .xlarge-up-2 > .column:last-child, .xlarge-up-2 > .columns:last-child {
    float: left;
  }

  .xlarge-up-3 > .column, .xlarge-up-3 > .columns {
    float: left;
    width: 33.33333%;
  }

  .xlarge-up-3 > .column:nth-of-type(1n), .xlarge-up-3 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-3 > .column:nth-of-type(3n+1), .xlarge-up-3 > .columns:nth-of-type(3n+1) {
    clear: both;
  }

  .xlarge-up-3 > .column:last-child, .xlarge-up-3 > .columns:last-child {
    float: left;
  }

  .xlarge-up-4 > .column, .xlarge-up-4 > .columns {
    float: left;
    width: 25%;
  }

  .xlarge-up-4 > .column:nth-of-type(1n), .xlarge-up-4 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-4 > .column:nth-of-type(4n+1), .xlarge-up-4 > .columns:nth-of-type(4n+1) {
    clear: both;
  }

  .xlarge-up-4 > .column:last-child, .xlarge-up-4 > .columns:last-child {
    float: left;
  }

  .xlarge-up-5 > .column, .xlarge-up-5 > .columns {
    float: left;
    width: 20%;
  }

  .xlarge-up-5 > .column:nth-of-type(1n), .xlarge-up-5 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-5 > .column:nth-of-type(5n+1), .xlarge-up-5 > .columns:nth-of-type(5n+1) {
    clear: both;
  }

  .xlarge-up-5 > .column:last-child, .xlarge-up-5 > .columns:last-child {
    float: left;
  }

  .xlarge-up-6 > .column, .xlarge-up-6 > .columns {
    float: left;
    width: 16.66667%;
  }

  .xlarge-up-6 > .column:nth-of-type(1n), .xlarge-up-6 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-6 > .column:nth-of-type(6n+1), .xlarge-up-6 > .columns:nth-of-type(6n+1) {
    clear: both;
  }

  .xlarge-up-6 > .column:last-child, .xlarge-up-6 > .columns:last-child {
    float: left;
  }

  .xlarge-up-7 > .column, .xlarge-up-7 > .columns {
    float: left;
    width: 14.28571%;
  }

  .xlarge-up-7 > .column:nth-of-type(1n), .xlarge-up-7 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-7 > .column:nth-of-type(7n+1), .xlarge-up-7 > .columns:nth-of-type(7n+1) {
    clear: both;
  }

  .xlarge-up-7 > .column:last-child, .xlarge-up-7 > .columns:last-child {
    float: left;
  }

  .xlarge-up-8 > .column, .xlarge-up-8 > .columns {
    float: left;
    width: 12.5%;
  }

  .xlarge-up-8 > .column:nth-of-type(1n), .xlarge-up-8 > .columns:nth-of-type(1n) {
    clear: none;
  }

  .xlarge-up-8 > .column:nth-of-type(8n+1), .xlarge-up-8 > .columns:nth-of-type(8n+1) {
    clear: both;
  }

  .xlarge-up-8 > .column:last-child, .xlarge-up-8 > .columns:last-child {
    float: left;
  }

  .xlarge-collapse > .column, .xlarge-collapse > .columns {
    padding-right: 0;
    padding-left: 0;
  }

  .xlarge-collapse .row {
    margin-right: 0;
    margin-left: 0;
  }

  .expanded.row .xlarge-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }

  .xlarge-uncollapse > .column, .xlarge-uncollapse > .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .xlarge-centered {
    margin-right: auto;
    margin-left: auto;
  }

  .xlarge-centered, .xlarge-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
  }

  .xlarge-uncentered, .xlarge-push-0, .xlarge-pull-0 {
    position: static;
    margin-right: 0;
    margin-left: 0;
  }

  .xlarge-uncentered, .xlarge-uncentered:last-child:not(:first-child), .xlarge-push-0, .xlarge-push-0:last-child:not(:first-child), .xlarge-pull-0, .xlarge-pull-0:last-child:not(:first-child) {
    float: left;
    clear: none;
  }

  .xlarge-uncentered:last-child:not(:first-child), .xlarge-push-0:last-child:not(:first-child), .xlarge-pull-0:last-child:not(:first-child) {
    float: right;
  }

}

@media print, screen and (min-width:90em) {
  .hide-for-xlarge {
    display: none !important;
  }

}

@media screen and (max-width:89.938em) {
  .show-for-xlarge {
    display: none !important;
  }

}

/*small things*/
@media print, screen and (max-width:39.938em) {
}

/*medium things*/
@media print, screen and (max-width:63.938em) {
  #logo img {
    max-height: 40px !important;
  }

  #logo {
    max-height: 40px !important;
  }

  #slogan {
    font-size: .8rem;
    text-align: center;
  }

  #sidebar {
    padding: 1rem 0 0 0;
  }

}

#header.is-anchored {
  padding: 1rem 0;
}

#header.is-stuck {
  padding: .6rem 0;
}

/*large things*/
@media print, screen and (max-width:89.938em) {

}

/*xlarge things*/
@media print, screen and (min-width:90em) {
  #logo {
    max-height: 80px !important;
  }

}

#mobilemenutoggle {
  padding-right: .75rem;
  font-size: 2rem;
  vertical-align: middle;
}

#mobilemenutoggle:before {
  content: "\f0c9";
}

.is-open-right #mobilemenutoggle:before {
  content: "\f00d";
}

#footer2 ul, #footer3 ul {
  text-align: center;
}

.pager {
  margin: 2rem 0;
}

.pager__item.is-active a {
  background-color: #ee7f00 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
}

.pager__item a {
  color: #0a0a0a;
}

.pager .menu .is-active a {
  padding: .5rem .8rem !important;
}

.pager .menu a {
  padding: .5rem .6rem !important;
}

#slogan {
  line-height: 45px;
  font-family: "Roboto";
  font-weight: 300;
}

#metaheader-search {
  line-height: 45px;
  height: 45px;
}

#metaheader-search div {
  line-height: 45px;
  height: 45px;
}

.position-right.is-transition-push {
  box-shadow: none !important;
}

.off-canvas {
  background: white !important;
}

.off-canvas a {
  color: #ee7f00;
}

#mainmenu-0 {
  position: relative;
}

#offCanvasRight1 {
  width: 300px;
  max-width: 90%;
}

#offCanvasRight1 li {
  border-bottom: 1px solid #ee7f00;
}

#offCanvasRight1 li:last-child {
  border: none;
}

#offCanvasRight1 li a {
  padding: 1rem 0 1rem 2rem;
}

#offCanvasRight1 li a:hover, #offCanvasRight1 .is-active {
  color: grey;
}

.submenu-toggle::after {
  border-color: #ee7f00 transparent transparent!important;
}

.mobilemenu-0 .is-submenu-item {
  border-bottom: none!important;
}

.mobilemenu-0 .is-submenu-item a {
  padding: .75rem 0 1rem 2rem!important;
}

.mobilemenu-0 .is-submenu-item:last-child a {
  padding-bottom: 1.5rem!important;
}

#offCanvasRight1 {
  border-left: 3px solid #ee7f00;
}

#offCanvasRight1 > div {
  margin-bottom: 1rem;
}

#mobilemenu-close {
  margin: 1rem .5rem 0 0;
  font-size: 2rem;
  color: grey;
  outline: none;
}

#block-searchapiform-2 {
  margin-top: 1rem;
  border-top: 1px solid grey;
  padding-top: 1rem;
}

#mobile-search-form .search-block-submit{
  width: calc(100% - 30px);
  margin-left: .9375rem;
  padding: .5rem 0;
}

#edit-mobile-suche {
  margin-bottom: .3rem;
}

#offCanvasRight1 .input-group {
  display: block!important;
}

#offCanvasRight1 .search-block-input, #offCanvasRight1 .search-block-submit {
  width: 277px!important;
  float: none;
}

#offCanvasRight1 .search-block-submit {
  padding: .5rem 0!important;
  margin-top: .2rem;
}

.js-facets-links {
  margin-left: .5rem!important;
}

.facets-widget-searchbox_links a {
  color: #ee7f00;
}

.facets-widget-searchbox_links .facets-reset a {
  color: grey!important;
  font-size: .9rem;
}

.search-result strong {
  font-family: "Roboto";
}

#search-api-sort {
  display: inline-block!important;
}

#form-search-filter-mobil .row, #form-search-sort-mobil .row {
  margin: 0!important;
}

.accordion-title, .accordion-title:hover, .accordion-title:focus {
  color: grey;
  font-size: .9rem;
}

.views-exposed-form {
  margin-top: .5rem;
}

#suche-facets {
  margin-bottom: 1rem;
}

.facet-item a {
  color: #ee7f00;
}

.facets-widget-dropdown ul {
  margin-left: 0;
}

.facet-active, .facet-inactive {
  margin-bottom: 1.5rem;
}

.menu a {
  line-height: 1.2rem!important;
}

#block-views-block-termine-block-1 .sidebar-block-inner > .row {
  padding: 1rem 0 1rem 0;
}

.button {
  background-color: #ee7f00;
  color: white;
}

.button:hover, .button:focus {
  background-color: grey;
  color: white;
}

#edit-field-vorgangsdatum-value--2--wrapper .bef-toggle,
#block-hervorgehobenesformularaktuellespage-1 .bef-toggle {
  display: none;
}

.blog-image-top {
  margin-bottom: 1rem;
}

.js-facets-widget {
  margin-bottom: 0;
}

.block-facets-ajax {
  margin-bottom: 0;
}

ul.accordion {
  margin-bottom: 0;
}






